@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html ng-app="deskingApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desk It</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="~/Content/css/bootstrap.css">*@
    @Styles.Render("~/Content/css")
</head>
<body ng-controller="rootCtrl">
    <div class='notifications bottom-right'>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Request.IsAuthenticated)
                {
                    if (!User.IsInRole("Admin"))
                    {
                        <a class="navbar-brand" ui-sref="home">Home</a>
                    }
                    @*@Html.ActionLink("Home", "Home", "Home",null, new { @class = "navbar-brand" })*@
                }
                else
                {
                    @*@Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })*@
                    <a class="navbar-brand" ui-sref="index">Home</a>                      
                }
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        @if (User.IsInRole("Admin"))
                        {                            
                            <li><a ui-sref="roles">Roles</a></li>
                        }
                        else
                        {
                            @*<li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>*@
                            if (User.IsInRole("UserAdmin"))
                            {
                                <li><a ui-sref="users">Users</a></li>
                            }
                        }
                    </ul>
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right" ng-controller="accountCtrl">
                        @if (!User.IsInRole("Admin"))
                        {
                            <li class="dropdown" is-open="status.isopen">
                                <a href="#" class="btn dropdown-toggle">
                                    <span>{{data.dealer.Name}}</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation" ng-repeat="dealer in data.dealers">
                                        <a role="menuitem" tabindex="-1" href="#" ng-click="change(dealer)">{{dealer.Name}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                                @*<a href="#">Hello @User.Identity.GetUserName()!</a>*@
                                <a>{{ data.fullname}}</a>
                            </li>
                        }
                        <li><a href="javascript:sessionStorage.clear();document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                    }
                }
                else
                {
                    <ul id="login" class="nav navbar-nav navbar-right">
                        @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
                        <li><a ui-sref="register">Register</a></li>
                        <li><a ui-sref="login">Log in</a></li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        <main id="main" ui-view>
            @RenderBody()
        </main>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dear Corp.</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    @*<script src="~/Scripts/jquery.min.js"></script>*@
    @*<script src="~/Scripts/angular.js"></script>*@
    <script>
        var desking = { global: {} }
        desking.global.webroot = '@Url.Content("~")';
        desking.global.isAuthenticated = '@Request.IsAuthenticated' == 'True'
        if (desking.global.isAuthenticated)
            desking.global.currentuser = { email: '@User.Identity.GetUserName()' };
        else
            desking.global.currentuser = null;
    </script>
    @Scripts.Render("~/bundles/desking")
    @RenderSection("scripts", required: false)
    @Html.PageScripts()
</body>
</html>
